<content-view>
  <view-header>
    <title-block class="width-100-percent" i18n><text-part>web_app_title</text-part></title-block>
  </view-header>
  <view-page>
    <content-of-page i18n>content_page_index</content-of-page>
    <ul class="algorithms-nav">
      <li><a (click)="routeAlgoVizPage('bst_non_balancing_add')"><text-part i18n>bst_non_balancing_add</text-part></a></li>
      <li><a (click)="routeAlgoVizPage('bst_local_balancing_random')"><text-part i18n>bst_local_balancing_random</text-part></a></li>
      <li><a (click)="routeAlgoVizPage('bst_local_balancing_amortization')"><text-part i18n>bst_local_balancing_amortization</text-part></a></li>
      <li><a (click)="routeAlgoVizPage('bst_local_balancing_optimization')"><text-part i18n>bst_local_balancing_optimization</text-part></a></li>
    </ul>
  </view-page>
</content-view>
