<modal-window [style.display]="modalWindowShow">
  <items-wrapper>
    <h2 class="rounded-box item-title yellow">OБЕРІТЬ МЕТОД ЛОКАЛЬНОГО БАЛАНСУВАННЯ</h2>
    <methods-list class="methods">
      <method-item (click)="BalanceRandom()">
        <symbol-tool></symbol-tool><text-part class="_11pt">Рандомізація =></text-part>
      </method-item>
      <method-item (click)="BalanceAmortization()">
        <symbol-tool></symbol-tool><text-part class="_11pt">Амортизація =></text-part>
      </method-item>
      <method-item (click)="BalanceOptimization()">
        <symbol-tool></symbol-tool><text-part class="_11pt">Оптимізація =></text-part>
      </method-item>
    </methods-list>
  </items-wrapper>
</modal-window>
<wrapper-page-algoviz>
  <h1 class="rounded-box green main-title">ВІЗУАЛІЗАЦІЯ АЛГОРИТМІВ ЛОКАЛЬНОГО БАЛАНСУВАННЯ BST-ДЕРЕВА</h1>
  <wrapper-content>
    <top-part>
      <left-column>
        <item-nav class="rounded-box yellow" (click)="RouteStart()">
          <arrow-left></arrow-left><text-part>ПОВЕРНУТИСЬ</text-part>
        </item-nav>
        <items-wrapper>
          <h2 class="rounded-box item-title yellow">ОПЕРАЦІЇ НАД ЕЛЕМЕНТАМИ BST</h2>
          <methods-list class="methods">
            <method-item class="active" (click)="AddElement()">
              <symbol-add></symbol-add><text-part class="_11pt">Додати елемент {{ currentElement  }}</text-part>
            </method-item>
            <method-item class="active" (click)="RemoveElement()">
              <symbol-remove></symbol-remove><text-part class="_11pt">Видалити елемент {{ lastAddedElement }}</text-part>
            </method-item>
          </methods-list>
        </items-wrapper>
        <items-wrapper>
          <h2 class="rounded-box item-title yellow">МЕТОДИ ЛОКАЛЬНОГО БАЛАНСУВАННЯ</h2>
          <methods-list class="methods">
            <method-item [ngClass]="{active: BalanceRandomMethod.active}" (click)="BalanceRandom()">
              <symbol-tool></symbol-tool><text-part class="_11pt">Рандомізація =></text-part>
            </method-item>
            <method-item [ngClass]="{active: BalanceAmortizationMethod.active}" (click)="BalanceAmortization()">
              <symbol-tool></symbol-tool><text-part class="_11pt">Амортизація =></text-part>
            </method-item>
            <method-item [ngClass]="{active: BalanceOptimizationMethod.active}" (click)="BalanceOptimization()">
              <symbol-tool></symbol-tool><text-part class="_11pt">Оптимізація =></text-part>
            </method-item>
          </methods-list>
        </items-wrapper>
        </left-column>
        <right-column>
        <h2 class="rounded-box column-title yellow">ДЕРЕВО ДВІЙКОГОВО ПОШУКУ - BST</h2>
        <items-wrapper>
          <items-start>
            <strong>Елементи:</strong>
            <item-node
              *ngFor="let item of itemsStart; let i = index;"
              [style.display]="item.display">
              {{ item.value}}
            </item-node>
          </items-start>
          <bst-items>
            <item-node
              *ngFor="let item of bstItems; let i = index;"
              [style.display]="item.display" id="bst_item_{{ i }}">{{ item.value}}</item-node>
          </bst-items>
        </items-wrapper>
      </right-column>
    </top-part>
    <middle-part>
      <left-column>
        <h2 class="rounded-box column-title yellow">Додати елемент</h2>
        <code-part>
          <ol #codePart>
            <li><blue-color>if</blue-color>&nbsp;<formula-name>data</formula-name>(New_Elem) < <formula-name>data</formula-name>(Current) <blue-color>then</blue-color></li>
            <li>&nbsp;&nbsp;&nbsp;<formula-name>left</formula-name>(Current) &larr; <green-color>call</green-color>  <formula-name>Insert_Tree234</formula-name>( <formula-name>left</formula-name>( Current ), New_Elem, <blue-color>FALSE</blue-color>)</li>
            <li>&nbsp;&nbsp;&nbsp;<blue-color>if</blue-color><green-color>call</green-color> <formula-name>Indication</formula-name>( Current ) <blue-color>and</blue-color><green-color>call</green-color> <formula-name>Indication</formula-name>( <formula-name>left</formula-name>( Current )) <blue-color>and</blue-color><em>flag</em> <blue-color>then</blue-color></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Current  &larr;
              <green-color>call</green-color>
              <formula-name>Rotation_R</formula-name>( Current )</li>
            <li>
              <blue-color>&nbsp;&nbsp;&nbsp;if</blue-color>
              <green-color>call</green-color>
              <formula-name>Indication</formula-name>(
              <formula-name>left</formula-name>(Current)) <blue-color>and</blue-color><green-color>call</green-color> <formula-name>Indication</formula-name>(<formula-name>left</formula-name>(<formula-name>left</formula-name>(Current)))  <blue-color>then</blue-color></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>Current</formula-name>  &larr; <green-color>call</green-color> <formula-name>Rotation_R</formula-name>(Current) </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>color</formula-name>(Current)  &larr; BLACK</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>сolor</formula-name>(<formula-name>right</formula-name>(Current))  &larr;  RED</li>
            <li><blue-color>else</blue-color></li>
            <li>&nbsp;&nbsp;&nbsp;<formula-name>right</formula-name>(Current)  &larr;<green-color>call</green-color> <formula-name>Insert_Tree234</formula-name>(<formula-name>right</formula-name>(Current),  New_Elem, <blue-color>TRUE</blue-color>)
              flag  &larr;<green-color>call</green-color> <formula-name>Inversion</formula-name>( flag )    </li>
            <li>&nbsp;&nbsp;&nbsp;<blue-color>if</blue-color> <green-color>call</green-color> <formula-name>Indication</formula-name>(Current)  <blue-color>and</blue-color><green-color>call</green-color> <formula-name>Indication</formula-name>( <formula-name>right</formula-name>(Current)) <blue-color>and</blue-color> <em>flag</em>  <blue-color>then</blue-color></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>Current</formula-name>  &larr; <green-color>call</green-color> <formula-name>Rotation_L</formula-name>(Current)</li>
            <li>&nbsp;&nbsp;&nbsp;<blue-color>if</blue-color><green-color>call</green-color> <formula-name>Indication</formula-name>(<formula-name>right</formula-name>(Current)) <blue-color>and</blue-color><green-color>call</green-color> <formula-name> Indication</formula-name>(<formula-name>right</formula-name>(<formula-name>right</formula-name>(Current)))  <blue-color>then</blue-color></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>Current</formula-name>  &larr; <green-color>call</green-color> <formula-name>Rotation_L</formula-name>(Current)</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>color</formula-name>(Current)  &larr; BLACK    </li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<formula-name>сolor</formula-name>(<formula-name>left</formula-name>(Current))  &larr;  RED</li>
            <li><blue-color>return</blue-color> Current</li>
          </ol>
        </code-part>
      </left-column>
      <right-column>
        <h2 class="rounded-box column-title yellow">Коментар</h2>
        <text-part>Текст коментаря</text-part>
        <steps-of-algo>Крок <span class="red-text">4</span> из <span>30</span></steps-of-algo>
        <h2>ПРОГРАВАТИ</h2>
        <methods-list class="">
          <method-item class="active" (click)="PlayNonStop()">
            <label-part class="_10pt">НЕПЕРЕРВНО</label-part>
          </method-item>
          <method-item class=""  (click)="PlayStepByStep()">
            <label-part class="_10pt">ПОКРОКОВО</label-part>
          </method-item>
        </methods-list>
      </right-column>
    </middle-part>
    <lower-part>
      <info-part>
        <button-element class="rounded-box yellow " (click)="GetInfo()">
          <info-sign></info-sign>&nbsp;<text-part>ДОВІДКА</text-part>
        </button-element>
      </info-part>
      <controls-part>
        <button-element class="rounded-box blue start">
          <text-part>СТАРТ</text-part><arrow-right></arrow-right>
        </button-element>
        <button-element class="rounded-box blue step-forwards">
          <text-part>&nbsp;</text-part><arrow-right></arrow-right><arrow-right></arrow-right>
        </button-element>
        <button-element class="rounded-box blue pause">
          <text-part>ПАУЗА</text-part><pause-sign></pause-sign>
        </button-element>
        <button-element class="rounded-box blue step-back">
          <arrow-left></arrow-left><arrow-left></arrow-left><text-part>&nbsp;</text-part>
        </button-element>
        <button-element class="rounded-box blue stop">
          <text-part>СТОП</text-part><stop-sign></stop-sign>
        </button-element>
      </controls-part>


    </lower-part>
    <footer-part>
      &copy; 2018, ВІЗУАЛІЗАЦІЯ АЛГОРИТМІВ ЛОКАЛЬНОГО БАЛАНСУВАННЯ BST-ДЕРЕВА
    </footer-part>
  </wrapper-content>
</wrapper-page-algoviz>
