<content-view>
  <view-header>
    <back-btn (click)="routeIndex()"><double-arrow-left>&nbsp;</double-arrow-left><span i18n>btn_back_header</span></back-btn><title-block class="width-100-percent" i18n><span>web_app_title_algo_viz_page</span></title-block>
  </view-header>
  <view-row>
    <data-structure>
      <title-block class="width-100-percent">
        <arrow-down>&nbsp;</arrow-down>
        <span [style.display]="typeOfAnimation === 'bst_non_balancing_add' ? 'block' : 'none'" i18n>bst_non_balancing_add</span>
        <span [style.display]="typeOfAnimation === 'bst_local_balancing_random' ? 'block' : 'none'" i18n>bst_local_balancing_random</span>
        <span [style.display]="typeOfAnimation === 'bst_local_balancing_amortization' ? 'block' : 'none'" i18n>bst_local_balancing_amortization</span>
        <span [style.display]="typeOfAnimation === 'bst_local_balancing_optimization' ? 'block' : 'none'" i18n>bst_local_balancing_optimization</span>
      </title-block>
      <active-field>
        <p>Елементи:</p>
          <items-wrapper>
            <item-list class="init item_list_00">{{ algovizEngineService.itemList[0] }}</item-list>
            <item-list class="init item_list_01">{{ algovizEngineService.itemList[1] }}</item-list>
            <item-list class="init item_list_02">{{ algovizEngineService.itemList[2] }}</item-list>
            <item-list class="init item_list_03">{{ algovizEngineService.itemList[3] }}</item-list>
            <item-list class="init item_list_04">{{ algovizEngineService.itemList[4] }}</item-list>
            <item-list class="init item_list_05">{{ algovizEngineService.itemList[5] }}</item-list>
            <item-list class="init item_list_06">{{ algovizEngineService.itemList[6] }}</item-list>
            <item-list class="init item_list_07">{{ algovizEngineService.itemList[7] }}</item-list>
            <item-list class="init item_list_08">{{ algovizEngineService.itemList[8] }}</item-list>
            <item-list class="init item_list_09">{{ algovizEngineService.itemList[9] }}</item-list>
            <item-list class="init item_list_10">{{ algovizEngineService.itemList[10] }}</item-list>
            <item-list class="init item_list_11">{{ algovizEngineService.itemList[11] }}</item-list>
            <item-list class="init item_list_12">{{ algovizEngineService.itemList[12] }}</item-list>
            <item-list class="init item_list_13">{{ algovizEngineService.itemList[13] }}</item-list>
            <item-list class="init item_list_14">{{ algovizEngineService.itemList[14] }}</item-list>
            <item-list class="init item_list_15">{{ algovizEngineService.itemList[15] }}</item-list>
            <item-list class="init item_list_16">{{ algovizEngineService.itemList[16] }}</item-list>
            <item-list class="init item_list_17">{{ algovizEngineService.itemList[17] }}</item-list>
            <item-list class="init item_list_18">{{ algovizEngineService.itemList[18] }}</item-list>
            <item-list class="init item_list_19">{{ algovizEngineService.itemList[19] }}</item-list>
            <!-- item-list class="init" *ngFor="let item of itemList">{{ item }}</item-list -->
            <!-- item-list class="compare">1</item-list -->
          </items-wrapper>

        <bst-structure>
          <bst-item  id="bst_item_0" class="_0" >0</bst-item>

          <bst-item  id="bst_item_1" class="_1_1" >1</bst-item>
          <bst-item  id="bst_item_2" class="_1_2" >2</bst-item>

          <bst-item  id="bst_item_3" class="_2_1" >3</bst-item>
          <bst-item  id="bst_item_4" class="_2_2" >4</bst-item>
          <bst-item  id="bst_item_5" class="_2_3" >5</bst-item>
          <bst-item  id="bst_item_6" class="_2_4" >6</bst-item>

          <bst-item  id="bst_item_7" class="_3_1" >7</bst-item>
          <bst-item  id="bst_item_8" class="_3_2" >8</bst-item>
          <bst-item  id="bst_item_9" class="_3_3" >9</bst-item>
          <bst-item  id="bst_item_10" class="_3_4" >10</bst-item>
          <bst-item  id="bst_item_11" class="_3_5" >11</bst-item>
          <bst-item  id="bst_item_12" class="_3_6" >12</bst-item>
          <bst-item  id="bst_item_13" class="_3_7" >13</bst-item>
          <bst-item  id="bst_item_14" class="_3_8" >14</bst-item>

          <bst-item  id="bst_item_15" class="_4_1" >15</bst-item>
          <bst-item  id="bst_item_16" class="_4_2" >16</bst-item>
          <bst-item  id="bst_item_17" class="_4_3" >17</bst-item>
          <bst-item  id="bst_item_18" class="_4_4" >18</bst-item>
          <bst-item  id="bst_item_19" class="_4_5" >19</bst-item>
          <bst-item  id="bst_item_20" class="_4_6" >20</bst-item>
          <bst-item  id="bst_item_21" class="_4_7" >-</bst-item>
          <bst-item  id="bst_item_22" class="_4_8" >-</bst-item>
          <bst-item  id="bst_item_23" class="_4_9" >-</bst-item>
          <bst-item  id="bst_item_24" class="_4_10" >-</bst-item>
          <bst-item  id="bst_item_25" class="_4_11" >-</bst-item>
          <bst-item  id="bst_item_26" class="_4_12" >-</bst-item>
          <bst-item  id="bst_item_27" class="_4_13" >-</bst-item>
          <bst-item  id="bst_item_28" class="_4_14" >-</bst-item>
          <bst-item  id="bst_item_29" class="_4_15" >-</bst-item>
          <bst-item  id="bst_item_30" class="_4_16" >-</bst-item>

        </bst-structure>
      </active-field>
    </data-structure>
    <right-block>
      <comments-block>
        <title-block class="width-100-percent"><span i18n>code_line_comment</span></title-block>
        <active-field>
          {{ algovizEngineService.currentInstructionComment }}

        </active-field>
        <p><span i18n>current_step</span>: {{ currentKeyFrameNumber }}</p>
        <p><span i18n>all_steps</span>: {{ algovizEngineService.animation.length}}</p>
        <audio class="audio-comment" controls>
          <source src="{{ algovizEngineService.currentInstructionAudio}}">
          Браузер не підтримує програвання звукових файлів!
        </audio>
      </comments-block>
    </right-block>
  </view-row>
  <view-row>

    <data-pseudocode>
      <title-block class="width-100-percent"><arrow-down>&nbsp;</arrow-down><span class="localization" i18n>current_procedure</span><span class="js-procedure-name red">{{ algovizEngineService.currentProcedureName }}</span></title-block>
      <active-field>
        <ol>
          <li [class.active]="item.current" *ngFor="let item of algovizEngineService.currentProcedureCode" [innerHTML]="item.code"></li>
        </ol>
      </active-field>
    </data-pseudocode>
    <right-block>
      <procedures-block>
        <title-block class="width-100-percent"><span i18n>procedures</span>&nbsp;</title-block>
        <active-field>
          <ul>
            <li [class.current]="item.current" *ngFor="let item of algovizEngineService.proceduersList"><span [innerHTML]="item.id"></span></li>
          </ul>
        </active-field>
      </procedures-block>
    </right-block>
  </view-row>
  <view-row>
    <!-- help-btn><help-btn-icon>&nbsp;</help-btn-icon><span i18n>help</span></help-btn -->
    <control-btn class="start"><span i18n>start</span><control-icon>&nbsp;</control-icon></control-btn>
    <control-btn class="back"><control-icon>&nbsp;</control-icon><span i18n>back</span></control-btn>
    <control-btn class="pause"><span i18n>pause</span><control-icon>&nbsp;</control-icon></control-btn>
    <control-btn class="forward"><span i18n>forwards</span><control-icon>&nbsp;</control-icon></control-btn>
    <control-btn class="stop"><span i18n>stop</span><control-icon>&nbsp;</control-icon></control-btn>
  </view-row>
  <view-footer>
    <span class="copy">© 2018,&nbsp;</span><copy-block i18n>copy_block</copy-block>
  </view-footer>
</content-view>
