<content-view>
  <view-header>
    <back-btn (click)="routeIndex()"><double-arrow-left>&nbsp;</double-arrow-left><span i18n>btn_back_header</span></back-btn><title-block class="width-100-percent" i18n><span>web_app_title_algo_viz_page</span></title-block>
  </view-header>
  <view-row>
    <data-structure>
      <title-block class="width-100-percent">
        <arrow-down>&nbsp;</arrow-down>
        <span [style.display]="typeOfAnimation === 'bst_non_balancing_add' ? 'block' : 'none'" i18n>bst_non_balancing_add</span>
        <span [style.display]="typeOfAnimation === 'bst_local_balancing_random' ? 'block' : 'none'" i18n>bst_local_balancing_random</span>
        <span [style.display]="typeOfAnimation === 'bst_local_balancing_amortization' ? 'block' : 'none'" i18n>bst_local_balancing_amortization</span>
        <span [style.display]="typeOfAnimation === 'bst_local_balancing_optimization' ? 'block' : 'none'" i18n>bst_local_balancing_optimization</span>
      </title-block>
      <active-field>
        <p>Елементи:</p>
          <items-wrapper>
            <item-list class="init item_list_00">{{ items[0] }}</item-list>
            <item-list class="init item_list_01">{{ items[1] }}</item-list>
            <item-list class="init item_list_02">{{ items[2] }}</item-list>
            <item-list class="init item_list_03">{{ items[3] }}</item-list>
            <item-list class="init item_list_04">{{ items[4] }}</item-list>
            <item-list class="init item_list_05">{{ items[5] }}</item-list>
            <item-list class="init item_list_06">{{ items[6] }}</item-list>
            <item-list class="init item_list_07">{{ items[7] }}</item-list>
            <item-list class="init item_list_08">{{ items[8] }}</item-list>
            <item-list class="init item_list_09">{{ items[9] }}</item-list>
            <item-list class="init item_list_10">{{ items[10] }}</item-list>
            <!-- item-list class="init" *ngFor="let item of itemList">{{ item }}</item-list -->
            <!-- item-list class="compare">1</item-list -->
          </items-wrapper>

        <bst-structure>
<div id="bst-container"></div>
          <bst-item style="display: {{ node.displayNode }}" id="{{ node.className}}" *ngFor="let node of BST" [innerHTML]="node.nodeValue"></bst-item>

          <!--
          <bst-item  id="_0" class="_0" >0</bst-item>

          <bst-item  id="_0_0" class="_0_0" >1</bst-item>
          <bst-item  id="_0_1" class="_0_1" >2</bst-item>

          <bst-item  id="_0_0_0" class="_2_1" >3</bst-item>
          <bst-item  id="_0_0_1" class="_2_2" >4</bst-item>
          <bst-item  id="_0_1_0" class="_2_3" >5</bst-item>
          <bst-item  id="_0_1_1" class="_2_4" >6</bst-item>

          <bst-item  id="_0_0_0_0" class="_3_1" >7</bst-item>
          <bst-item  id="_0_0_0_1" class="_3_2" >8</bst-item>
          <bst-item  id="_0_0_1_0" class="_3_3" >9</bst-item>
          <bst-item  id="_0_0_1_1" class="_3_4" >10</bst-item>
          <bst-item  id="_0_1_0_0" class="_3_5" >11</bst-item>
          <bst-item  id="_0_1_0_1" class="_3_6" >12</bst-item>
          <bst-item  id="_0_1_1_0" class="_3_7" >13</bst-item>
          <bst-item  id="_0_1_1_1" class="_3_8" >14</bst-item>

          <bst-item  id="_0_0_0_0_0" class="_4_1" >15</bst-item>
          <bst-item  id="_0_0_0_0_1" class="_4_2" >16</bst-item>
          <bst-item  id="_0_0_0_1_0" class="_4_3" >17</bst-item>
          <bst-item  id="_0_0_0_1_1" class="_4_4" >18</bst-item>
          <bst-item  id="_0_0_1_0_0" class="_4_5" >19</bst-item>
          <bst-item  id="_0_0_1_0_1" class="_4_6" >20</bst-item>
          <bst-item  id="_0_0_1_1_0" class="_4_7" >-</bst-item>
          <bst-item  id="_0_0_1_1_1" class="_4_8" >-</bst-item>
          <bst-item  id="_0_1_0_0_0" class="_4_9" >-</bst-item>
          <bst-item  id="_0_1_0_0_1" class="_4_10" >-</bst-item>
          <bst-item  id="_0_1_0_1_0" class="_4_11" >-</bst-item>
          <bst-item  id="_0_1_0_1_1" class="_4_12" >-</bst-item>
          <bst-item  id="_0_1_1_0_0" class="_4_13" >-</bst-item>
          <bst-item  id="_0_1_1_0_1" class="_4_14" >-</bst-item>
          <bst-item  id="_0_1_1_1_0" class="_4_15" >-</bst-item>
          <bst-item  id="_0_1_1_1_1" class="_4_16" >-</bst-item>
-->
        </bst-structure>
      </active-field>
    </data-structure>
    <right-block>
      <comments-block>
        <title-block class="width-100-percent"><span i18n>code_line_comment</span></title-block>
        <active-field>
          {{ algovizEngineService.currentInstructionComment }}

        </active-field>
        <p><span i18n>current_step</span>: {{ currentKeyFrameNumber }}</p>
        <p><span i18n>all_steps</span>: {{ algovizEngineService.animation.length}}</p>
        <audio class="audio-comment" controls>
          <source src="{{ algovizEngineService.currentInstructionAudio}}">
          Браузер не підтримує програвання звукових файлів!
        </audio>
      </comments-block>
    </right-block>
  </view-row>
  <view-row>

    <data-pseudocode>
      <title-block class="width-100-percent"><arrow-down>&nbsp;</arrow-down><span class="localization" i18n>current_procedure</span><span class="js-procedure-name red">{{ algovizEngineService.currentProcedureName }}</span></title-block>
      <active-field>
        <ol>
          <li [class.active]="item.current" *ngFor="let item of algovizEngineService.currentProcedureCode" [innerHTML]="item.code"></li>
        </ol>
      </active-field>
    </data-pseudocode>
    <right-block>
      <procedures-block>
        <title-block class="width-100-percent"><span i18n>procedures</span>&nbsp;</title-block>
        <active-field>
          <ul>
            <li [class.current]="item.current" *ngFor="let item of algovizEngineService.proceduersList"><span [innerHTML]="item.id"></span></li>
          </ul>
        </active-field>
      </procedures-block>
    </right-block>
  </view-row>
  <view-row>
    <control-btn class="start"><span i18n>start</span><control-icon>&nbsp;</control-icon></control-btn>
    <control-btn class="back"><control-icon>&nbsp;</control-icon><span i18n>back</span></control-btn>
    <control-btn class="pause"><span i18n>pause</span><control-icon>&nbsp;</control-icon></control-btn>
    <control-btn class="forward"><span i18n>forwards</span><control-icon>&nbsp;</control-icon></control-btn>
    <control-btn class="stop"><span i18n>stop</span><control-icon>&nbsp;</control-icon></control-btn>
  </view-row>
  <view-footer>
    <span class="copy">© 2018,&nbsp;</span><copy-block i18n>copy_block</copy-block>
  </view-footer>
</content-view>
