/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: CenturyGothicRegular;
  src: url(assets/fonts/CenturyGothicRegular.woff);
}
@font-face {
  font-family: CenturyGothic-Bold;
  src: url(assets/fonts/CenturyGothic-Bold.woff);
}
@font-face {
  font-family: CenturyGothic-Italic;
  src: url(assets/fonts/CenturyGothic-Italic.woff);
}
@font-face {
  font-family: CenturyGothic-BoldItalic;
  src: url(assets/fonts/CenturyGothic-BoldItalic.woff);
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
  h3 {
    text-align: center;
    font-family: Arial;
  }

  arrow-left,
  arrow-right,
  arrow-up,
  arrow-down,
  pause-sign,
  info-sign,
  stop-sign {
    display: block;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-size: contain;
  }
  arrow-left {
    margin-right: 2%;
    background: url(assets/img/svg/arrow_left.svg) no-repeat;
  }
  arrow-right {
    background: url(assets/img/svg/arrow_right.svg) no-repeat;
    margin-left: 2%;
  }
  arrow-up {
    background: url(assets/img/svg/arrow_up.svg) no-repeat;
  }
  arrow-down {
    background: url(assets/img/svg/arrow_down.svg) no-repeat;
  }
  pause-sign {
    background: url(assets/img/svg/pause-sign.svg) no-repeat;
  }
  stop-sign {
    background: url(assets/img/svg/stop-sign.svg) no-repeat;
  }
  info-sign {
    background: url(assets/img/svg/info-sign.svg) no-repeat;
  }
  symbol-add,
  symbol-remove,
  symbol-tool {
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  symbol-add {
    background: url(assets/img/svg/symbol_add.svg) no-repeat;
  }
  symbol-remove {
    background: url(assets/img/svg/symbol_remove.svg) no-repeat;
  }
  symbol-tool {
    background: url(assets/img/svg/symbol_tool.svg) no-repeat;
  }

  .rounded-box {
    text-transform: uppercase;
    text-align: center;
    border: 1px #666666 solid;
    border-radius: 5px;
    word-break: break-all;
    padding: 3px;
    min-height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rounded-box-block {
    text-transform: uppercase;
    text-align: center;
    border: 1px #666666 solid;
    border-radius: 5px;
    word-break: break-all;
    padding: 3px;
    min-height: 13px;
    display: block;
  }

  .rounded-box.item-title {
    border-bottom: 1px #666666 solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 5px 5px 0 0;
    word-break: normal;
  }

  .green {
    color: #fff;
    background: #39B54A;
    background: linear-gradient(to top, #009245, #39B54A);
  }
  .yellow {
    color: #383838;
    background: #D9E021;
    background: linear-gradient(to top, #D9E021, #8CC63F);
  }
  .blue {
    color: #fff;
    font-weight: bold;
    background: #D9E021;
    background: linear-gradient(to top, #2839e0, #5e98c6);
  }
  .active {
    color: #383838;
    background: #FBB03B;
    background: linear-gradient(to top, #F47B25, #FBB03B);
  }

  red-text,
  .red-text{
    color: red;
  }
  ._14pt {
    font-size: 14pt;
  }
  ._11pt {
    font-size: 11pt;
  }
  ._10pt {
    font-size: 10pt;
  }
  .center {
    text-align: center;
  }

.column-title {
  height: 20pt;
  border-bottom: 1px #666666 solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 5px 5px 0 0;
  word-break: normal;
}

  body {
    background: #848383;
    font-size: 10pt;
    modal-window {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(123, 123, 123, 0.6);
      z-index: 6;
      items-wrapper {
        display: block;
        width:50%;
        margin: 10% auto .5em auto;
        background: #fff;
        border: 1px solid #666666;
        border-radius: 5px;
        methods-list {
          width: 93%;
          height: 100%;
          min-height: 30px;
          display: block;
          margin: 10px auto 10px auto;
          text-align: justify;
          method-item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            color: #383838;
            background: linear-gradient(to top, #7b7b7b, #a0a0a0);
            border-radius: 5px;
            margin: 0 0 1% 0;
            line-height: 20pt;
            text-part {
              width: 85%;
              display: inline-block;
              text-align: left;
              word-wrap: break-word;
              font-weight: bold;
              cursor: pointer;
              padding: 0 0 0 5%;
            }
          }
          method-item:hover{
            color: #383838;
            background: #FBB03B;
            background: linear-gradient(to top, #F47B25, #FBB03B);
          }
        }
      }
    }

    wrapper-page-algoviz {
      background: #C4C4C4;
      display: block;
      width: 1024px;
      min-width: 800px;
      height: 100%;
      border-left: 1px solid #808080;
      border-right: 1px solid #808080;
      margin: 0 auto;
      border-radius: 5px;
      h1 {
        height: 9%;
        margin: 0 0 1% 0;
        min-height: 30px;
        font-size: 14pt;
        .main-title {
          height: 13px;
        }
      }
      h2 {
        height: 5%;
        font-size: 11pt;
      }
      wrapper-content {
        padding: 0 1%;
        display: block;
          top-part {
            display: block;
            height:317px;
        left-column,
        right-column {
          display: inline-block;
          vertical-align: top;
          min-height: 10%;
        }
          left-column {
            width: 25%;
            items-wrapper {
              display: block;
              width: 99%;
              margin: 1% auto .5em auto;
              background: #fff;
              border: 1px solid #666666;
              border-radius: 5px;
              methods-list {
                width: 93%;
                height: 100%;
                min-height: 30px;
                display: block;
                margin: 10px auto 10px auto;
                text-align: justify;
                method-item {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 2px;
                  color: #383838;
                  background: linear-gradient(to top, #7b7b7b, #a0a0a0);
                  border-radius: 5px;
                  margin: 0 0 1% 0;
                  line-height: 20pt;
                  text-part{
                    width: 85%;
                    display: inline-block;
                    text-align: left;
                    word-wrap: break-word;
                    font-weight: bold;
                    cursor: pointer;
                    padding: 0 0 0 5%;
                  }
                }
                method-item:last-child {
                  margin: 0;
                }
                .active {
                  color: #383838;
                  background: #FBB03B;
                  background: linear-gradient(to top, #F47B25, #FBB03B);
                  marker-list {
                    background: url(assets/img/svg/arrow_right_red.svg) no-repeat;
                  }
                }
              }
            }
          }
          right-column {
            width: 74%;
            margin: 0 auto .5em auto;
            background: #fff;
            border: 1px solid #666666;
            border-radius: 5px;
            height: 310px;
            items-wrapper {
              items-start {
                display: block;
                margin: 1% auto 0 auto;
                padding: 0 1%;
                item-node {
                  background: url("assets/img/svg/item_init.svg") no-repeat;
                  display: inline-block;
                  width: 27px;
                  height: 27px;
                  background-size: contain;
                  text-align: center;
                  font-weight: bold;
                  font-size: 13pt;
                  line-height: 20pt;
                }
              }
            }
          }
        }
          middle-part {
            display: block;
            height:255px;
            left-column,
            right-column {
              display: inline-block;
              vertical-align: top;
              min-height: 10%;
            }
          left-column{
            width: 74%;
            margin: 0 auto .5em auto;
            background: #fff;
            border: 1px solid #666666;
            border-radius: 5px;
            height: inherit;
            display: inline-block;
            @import "assets/css/code-part";
            ol {
              list-style: none;
              li::before {
                content: counter(li);
                color: black;
                display: inline-block;
                width: 1.3em;
                margin:0 1em 0 0;
                background: no-repeat url("assets/img/svg/code_part_li.svg");
                background-size: contain;
                text-align: center;
                font-weight: bold;
              }
              li {
                counter-increment: li;
                margin: 0 0 .5em 0;
              }
            }
          }
            right-column {
              width: 25%;
              margin: 0 auto .5em auto;
              background: #fff;
              border: 1px solid #666666;
              border-radius: 5px;
              height: 253px;
              display: inline-block;
              h2 {
                text-align: center;
              }
              text-part {
                display: block;
                margin: 0 2% 0 2%;
                width: 100%;
                height: 144px;
                oferflow: scroll;
              }
              steps-of-algo {
                display: block;
                text-align: center;
                height: 24px;
                span {
                  font-weight: bold;
                }
              }
              methods-list {
                display: flex;
                align-items: center;
                height: 50px;
                method-item {
                  display: block;
                  padding: 2px;
                  color: #383838;
                  background: linear-gradient(to top, #7b7b7b, #a0a0a0);
                  border-radius: 5px;
                  margin: 0 2% 1% 2%;
                  line-height: 19px;
                  height: 21px;
                  width: 45%;
                  cursor: pointer;
                  label-part{
                    width: 85%;
                    display: block;
                    text-align: center;
                    word-wrap: break-word;
                    font-weight: bold;
                    cursor: pointer;
                    height: inherit;
                    padding: 0 0 0 5%;
                  }

                }
                method-item.active {
                   color: #383838;
                   background: #FBB03B;
                   background: linear-gradient(to top, #F47B25, #FBB03B);
                 }
              }
            }
        }
          lower-part {
            display: flex;
            align-items: center;
            margin: 8px auto;
            button-element {
              display: block;
              cursor: pointer;
              .manual {
                width: 40%;
              }
            }
            info-part {
              width: 30%;
              display: flex;
              align-items: baseline;
            }
            controls-part {
              display: inline-flex;
              width: 70%;
              align-items: center;
              button-element {
                display: inline-block;
              }
              .start {
                width:15%;
              }
              .step-forwards {
                width: 10%;
              }
              .pause {
                width:15%;
              }
              .step-back {
                width: 10%;
              }
              .stop {
                width:15%;
              }
            }
          }
        footer-part {
          display: block;
          width: 100%;
          margin: 5px 0 5px 0;
        }
      }
    }
  }




